@import "variables.css";

/*Asegura que los elementos respeten el color de texto global*/
.label, .button, .text-field, .text-area, .check-box, .radio-button, .hyperlink, .menu-button, .menu-item, .table-column {
    -fx-text-fill: -base-text-color;
}

.primaryTitle {
    -fx-padding: 6 10;
    -fx-font-weight: bold;
    -fx-font-size: 18px;    
    -fx-graphic-text-gap: 8px;
}

/*Estilos generales para todos los botones*/
.ghostBtn, .btnPrimary, .btnDanger, .btnSuccess, .btnWarning, .btnSecondary {
    -fx-padding: 8 12;
    -fx-background-insets: 0;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-font-weight: 600; /* Añadimos negrita sutil para que el texto resalte mejor */
    -fx-cursor: hand;
}

.ghostBtn {
    -fx-background-color: -base-bg-color;
    -fx-border: 1px;
    -fx-border-color: -border-color-dark;
}
.ghostBtn:hover {
    -fx-background-color: -primary-bg-color;
    -fx-border-color: -primary-color;
    -fx-text-fill: -primary-color;
}
.ghostBtn:hover .glyph-icon {
    -fx-fill: -primary-color;
}

.btnPrimary {
    -fx-background-color: -primary-color;
    -fx-border-color: -primary-color;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.btnPrimary .glyph-icon {
    -fx-fill: white;
}

.btnPrimary:hover {
    -fx-background-color: -primary-dark;
    -fx-border-color: -primary-dark;
}

.btnDanger {
    -fx-background-color: -danger-light;
    -fx-border-color: -danger-primary;
    -fx-border-width: 1px;
    -fx-text-fill: -danger-primary;
}
.btnDanger .glyph-icon {
    -fx-fill: -danger-primary;
}

.btnDanger:hover {
    -fx-background-color: -danger-primary;
    -fx-text-fill: white;
}
.btnDanger:hover .glyph-icon {
    -fx-fill: white;
}

.btnWarning {
    -fx-background-color: -warning-primary;
    -fx-border-color: -warning-primary;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}
.btnWarning .glyph-icon{
    -fx-fill: white;
}

.btnWarning:hover {
    -fx-background-color: -warning-dark;
}

.btnSuccess {
    -fx-background-color: -save-light;
    -fx-border-color: -save-primary;
    -fx-border-width: 1px;
    -fx-text-fill: -save-primary;
}
.btnSuccess .glyph-icon{
    -fx-fill: -save-primary;
}

.btnSuccess:hover {
    -fx-background-color: -save-primary;
    -fx-text-fill: white;
}
.btnSuccess:hover .glyph-icon {
    -fx-fill: white;
}

.btnSecondary {
    -fx-background-color: transparent;
    -fx-border-color: -primary-color;
    -fx-border-width: 1px;
    -fx-text-fill: -primary-color;    
}

.btnSecondary:hover {
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
}

.menu-button .context-menu {
    -fx-background-color: -primary-bg-color;
    -fx-background-radius: 8px;
    -fx-border-width: 0;
    -fx-padding: 10px 5px 5px 5px;
    -fx-border-insets: 5px 0 0 0; 
    -fx-background-insets: 5px 0 0 0;
    -fx-effect: -soft-shadow-sm;
}

.menu-button .context-menu .container {
    -fx-background-color: transparent;
}

.menu-button .menu-item {
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 4px;
}

.menu-button .menu-item .label {
    -fx-text-fill: -text-muted;
}

.menu-button .menu-item:focused {
    -fx-cursor: hand;
    -fx-background-color: -primary-light;
}

.menu-button .menu-item:focused .label {
    -fx-text-fill: -secondary-bg-color;
}

.button {
        -fx-graphic-text-gap: 8px; /* Espaciado interno horizontal */
}

