.root {
    -base-bg-color: #F7F8FB;
    -primary-bg-color: #FAFBFC;
    
    -primary-color: #296FF7;
    -primary-light: #EFF3FC;
    -primary-dark: #2963d8;
    
    -danger-primary: #e92d36;
    -danger-dark: #d12028;
    -danger-light: #FBF2F4;
    
    -warning-primary: #F99318;
    -warning-dark: #ea8100;
    -warning-light: #F99318;
    
    -save-primary: #26c167;
    -save-light: #EFF9F5;
    -save-dark: #26b361;
    
    -border-color: #F0F2F5;
    -border-color-dark: #dedede;
    
    -base-text-color: #2d3436;
    -text-muted: #535e42;
    -text-muted-light: #a0a0a0;
    -primary-text: #2d3436;
    
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    
    -soft-shadow-sm: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    
    -fx-text-fill: -base-text-color;
}
